.page-wrapper {
    margin-top: 20px;
    margin-bottom: 100px;
}

.sycn-panel {
    background-color: #cccccc;
    text-align: center;
    padding-top: 50px;
}

.sycn-panel>h1 {
    color: #4e4e4e
}

#scrollableArea {
    height: 350px;
    width: 275px;
}

#fixedArea {
    height: 1000px;
}
